#clock {
	background-color: rgb(0, 0, 0); /* Sets the base color for the map */
	/* These 2 make it so that the height/width is always 90% of the narrowest dimension*/
	border: 2px solid white;
	width: 38vmin;
	height: 12vmin;

	box-shadow: 0 0 150px 0 #892be28c;
	display: none;
	position: absolute;
}
#numbers {
	font: message-box;
	font-size: medium;
	color: white;
}
