#game-map {
	background-color: #000000; /* Sets the base color for the map */
	border: 2px solid white;
	justify-self: right;
	/* These 2 make it so that the height/width is always 90% of the narrowest dimension*/
	width: 90vmin;
	height: 90vmin;
	box-shadow: 0 0 150px 0 #892be28c;
	display: none; /*Change this into grid when u want to display it.*/
	/* By specifying how many rows and columns we want
       for our game map, no matter what size the browser
       or screen size is, the game will always be a 75x75 grid */
	grid-template-rows: repeat(75, 1fr);
	grid-template-columns: repeat(75, 1fr);
}

.snake {
	background-color: #892be28c; /* Sets the default color for the snake */
	border: 0.05vmin solid rgb(255, 255, 255);
	border-radius: 0.25vmin;
}

.food {
	background-color: green; /* Sets the default color for the snake */
	border: 0.25vmin solid green;
	border-radius: 0.5vmin;
}

#waiting-box {
	background-color: #000000;
	justify-self: right;
	display: none;
	width: 90vmin;
	height: 90vmin;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	box-shadow: 0 0 150px 0 #892be28c;
}

#waiting-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 4vmin;
	color: whitesmoke;
}
#container {
	display: none;
	justify-self: right;
	width: 90vmin;
	height: 90vmin;
	position: relative;
}

#game-map,
#waiting-box {
	position: absolute;
}

#back2menuBtn {
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	margin-top: 2%;
	margin-left: 2%;
	display: none;
	padding: 2%;
	background: #000000;
	font-size: 10px;
	cursor: pointer;
	transition: 0.5s;
}

@media only screen and (min-width: 1000px) {
}
@media only screen and (min-width: 768px) {
}
