.menu-page {
	position: absolute;
	display: none;
	width: 48%;
	padding: 10% 0 0;
	margin: auto;
	position: center;
	background: #4a4a4a;
	width: 90%;
	height: 45%;
	margin: auto;
	padding: 45px;
	text-align: center;
}

.menuBtn {
	text-transform: uppercase;
	outline: 0;
	background: grey;
	width: 100%;
	height: 40%;
	border: 0;
	padding: 40px;
	color: black;
	font-size: 30px;
	cursor: pointer;
	transition: 0.5s;
}

.menuBtn:hover,
.menuBtn:active {
	border: none;
	background: green;
}
