/*This page is responsible for the CSS of the menu page*/

* {
	font-family: Arial, Helvetica, sans-serif;
}

/* The button that allows players to join a game. */

#joinGameBtn {
	margin-bottom: 10%;
}

/* This holds the 2 buttons found in the Main Menu. */
#menuModal {
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	outline: 0;
	color: rgb(0, 0, 0);
	font-size: 100%;
	cursor: pointer;
	transition: 0.5s;
	border: none;
	display: none;
	width: 20%;
}

.menuBtn {
	text-transform: uppercase;
	text-align: center;
	background: #000000;
	height: 40%;
	border: 2px solid #892be28c;
	padding: 10%;
	color: rgb(255, 255, 255);
	font-size: 200%;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 1vmin;
}

h3 {
	display: inline-block;
}

.menuBtn:hover,
.menuBtn:active {
	transform: scale(1.02);
	border: none;
	background: #892be28c;
	box-shadow: inset 0 0 25px 0 #000000;
}

/* A small disclaim found at the bottom of the page. */
#Disclaimer {
	position: absolute;
	left: 1%;
	bottom: 1%;
	width: 10%;
	height: 5%;
	color: white;
	border: 3px solid rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}

/*This part is used to make the website responsive on the smart phones and different computer screens. */

@media only screen and (max-width: 1000px) {
	#menuModal {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		min-width: 100%;
	}
	.menuBtn {
		padding: 20%;
		font-size: 125%;
	}
	#Disclaimer {
		left: 1.5%;
		width: 40%;
		font-size: 2vmin;
	}
}

@media only screen and (max-width: 1366px) {
	#menuModal {
		width: 30%;
	}
}

@media only screen and (max-width: 1630px) {
	#menuModal {
		width: 30%;
	}
	#Disclaimer {
		left: 1.5%;
		width: 20%;
	}
}
/* @media only screen and (max-width: 1648px) {
	#menuModal {
		width: 30%;
	}
} */
@media only screen and (min-width: 2560px) {
	#menuModal {
		width: 20%;
	}
	.menuBtn {
		padding: 15%;
		font-size: 300%;
	}
}
