/*This page is responsible for the CSS of the Scoreboard that can be found in the Game.*/

#scoreboard {
	background-color: rgb(0, 0, 0); /* Sets the base color for the map */
	/* These 2 make it so that the height/width is always 90% of the narrowest dimension*/
	border: 2px solid white;
	width: 38vmin;
	height: 45vmin;
	margin-left: 5%;
	box-shadow: 0 0 150px 0 #892be28c;
	display: none;
}

#tableScoreboard {
	position: left;
	table-layout: auto;
	width: 100%;
	font-size: 1.5vmin;
}

th {
	color: rgb(255, 255, 255);
}

td {
	text-align: center;
	color: white;
}

th,
td {
	padding: 2%;
	border: 1px solid rgb(255, 255, 255);
	border-collapse: collapse;
}

/*This part is used to make the website responsive on the smart phones and different computer screens. */

@media only screen and (max-width: 1000px) and (orientation: portrait) {
	#scoreboard {
		width: 0vmin;
		margin-left: 0%;
	}
	#tableScoreboard {
		display: none;
	}
}
