#scoreboard {
	background-color: rgb(12, 59, 4); /* Sets the base color for the map */
	/* These 2 make it so that the height/width is always 90% of the narrowest dimension*/
	width: 38vmin;
	height: 45vmin;
	margin-left: 5%;
	display: none;
}

table {
	position: left;
	table-layout: auto;
	width: 100%;
}

th {
	color: rgb(255, 255, 255);
}

td {
	text-align: center;
	color: white;
}

th,
td {
	padding: 2%;
	border: 1px solid rgb(255, 255, 255);
	border-collapse: collapse;
}

/* Make the length of the username lower than 18 */

.firstPlace {
	background-color: gold;
}
.secondPlace {
	background-color: silver;
}
.thirdPlace {
	background-color: brown;
}
