/*This page is responsible for the CSS of the Login / Register boxes that can be found inside the First page of the website.*/

* {
	font-family: Arial, Helvetica, sans-serif;
}

html {
	height: 96%;
}

/* Body of the whole website. */
body {
	min-height: 100%; /*100% of viewport height*/
	/* width: 97.2; 100% of viewport width */
	display: flex; /* Establishes a flex formatting context */
	justify-content: center; /*Centers the game map horizontally */
	align-items: center; /*Centers the game map vertically */
	margin: 0;
	background-color: black; /* Background color surrounding the game map */
	border: 19px solid #8a2be2;
}

/* This is used to hold both the Login and Register forms inside the small box. */
#signin-modal {
	background-color: rgb(138, 43, 226);
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	min-width: 25%;
	box-shadow: 0 0 150px 0 #892be28c;
	border-left: 15px solid #892be28c;
	border-right: 15px solid #892be28c;
}

/* Related to the Login / Register form and filling it. */
.form {
	background: #000000;
	padding: 10%;
	text-align: center;
}
.form input {
	outline: none;
	background: white;
	width: 100%;
	border: 0;
	margin: 0 0 4%;
	padding: 4%;
	box-sizing: border-box;
	font-size: 100%;
}

.form button {
	text-transform: uppercase;
	outline: 0;
	background: #bea0d3;
	width: 100%;
	padding: 4%;
	color: rgb(0, 0, 0);
	font-size: 100%;
	cursor: pointer;
	transition: 0.5s;
	border: none;
}

.form button:hover,
.form button:active {
	transform: scale(1.02);
	border: none;
	background: #892be28c;
}

.register-form {
	display: none;
}

.msg {
	padding-top: 10%;
	color: #ffffff;
}

/* This is the Logo that can be found inside the first page of the website. */
img {
	display: block;
	margin-left: 0%;
	margin-right: 10%;
	width: 40%;
}

/* This part is used to make the website responsive on the smart phones and different computer screens. */

@media only screen and (max-width: 700px) {
	body {
		border: 0px solid #8a2be2;
	}
	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 30%;
		margin-top: -70%;
		margin-left: -100%;
		max-width: 50%;
	}
	#signin-modal {
		background-color: rgb(138, 43, 226);
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		min-width: 100%;
		box-shadow: 0 0 0px 0 #0000008c;
		border-left: 0px solid #892be28c;
		border-right: 0px solid #892be28c;
	}
}

@media only screen and (max-width: 1600px) {
	body {
		border: 0px solid #8a2be2;
	}
}

@media only screen and (min-width: 3840px) {
	body {
		border: 42px solid #8a2be2;
	}
}
