<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FANCY SNAKE</title>
		<link rel="stylesheet" type="text/css" href="./styles/game.css" />
		<link rel="stylesheet" type="text/css" href="./styles/scoreboard.css" />
		<link rel="stylesheet" type="text/css" href="./styles/signin.css" />
		<link rel="stylesheet" type="text/css" href="./styles/menu.css" />
		<link rel="stylesheet" type="text/css" href="./styles/leaderboard.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
		<script src="./src/index.js" defer type="module"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<img id="logo" src="./Images/FancySnake.png" />
		<audio id="main-music" src="./music/Chiptronical.mp3" loop="true"></audio>
		<!-- <script src="./src/input.js" defer type="module"></script> -->
	</head>
	<body>
		<div id="menuModal">
			<button id="joinGameBtn" class="menuBtn" type="button"><h3>Join Game</h3></button>
			<button id="leaderBoardBtn" class="menuBtn" type="button"><h3>Leaderboard</h3></button>
		</div>

		<div id="signin-modal">
			<div class="form">
				<div class="register-form innerForm">
					<input id="register-username" type="text" placeholder="Username" />
					<input id="register-password" type="password" placeholder="Password" />
					<button id="registerbtn">Register</button>
					<p class="msg">Already Registered? <a class="msg" style="color: #bea0d3; text-decoration: none" href="#">Login</a></p>
				</div>
				<div class="login-form innerForm">
					<input id="login-username" type="text" placeholder="Username" />
					<input id="login-password" type="password" placeholder="Password" />
					<button id="loginbtn">Login</button>
					<p class="msg">Not Registered? <a class="msg" style="color: #bea0d3; text-decoration: none" href="#">Register</a></p>
				</div>
			</div>
		</div>

		<script>
			$(".message a").click(function () {
				$(".innerForm").animate({ height: "toggle", opacity: "toggle" }, "slow")
			})
		</script>

		<script>
			$(document).ready(function () {
				$("p").click(function () {
					$(".innerForm").toggle(1000)
				})
			})
		</script>

		<div id="container">
			<div id="waiting-box">
				<button id="back2leaderBoardBtn" type="button">LeaderBoard</button>
				<h1 id="waiting-text"></h1>
				<h1 id="rotate-text">Please Rotate Your Device</h1>
			</div>
			<div id="game-map"></div>
		</div>
		<div id="scoreboard">
			<table id="tableScoreboard"></table>
		</div>
		<button id="back2menuBtn" type="button"><h2 id="text">Main Menu</h2></button>
		<button id="sign-out-btn" type="button"><h2>Sign Out</h2></button>
		<div id="Leaderboard">
			<table id="LeaderBoardTable">
				<tr>
					<th>Rank</th>
					<th>Username</th>
					<th>Wins</th>
				</tr>
			</table>
		</div>
	</body>
</html>
