body {
    height: 100vh; /* 100% of viewport height */
    width: 100vw; /* 100% of viewport width */
    display: flex; /* Establishes a flex formatting context */
    justify-content: center; /* Centers the game map horizontally */
    align-items: center; /* Centers the game map vertically */
    margin: 0; /* Sets no margins for the game map */
    background-color: #E5E5E5; /* Background color surrounding the game map */
}

#game-map {
    background-color: #000000; /* Sets the base color for the map */

    /* These 2 make it so that the height/width is always 90% of the narrowest dimension*/
    width: 90vmin;
    height: 90vmin;

    display: grid;

    /* By specifying how many rows and columns we want
       for our game map, no matter what size the browser
       or screen size is, the game will always be a 75x75 grid */
    grid-template-rows: repeat(75,1fr);
    grid-template-columns: repeat(75,1fr);
}

.snake {
    background-color: #1b2d53; /* Sets the default color for the snake */
    border: 0;
}

.food {
    background-color: #FCA311; /* Sets the default color for the food */
    border: 0;
}